## IS 362 - Project 2

*(1) Choose any three of the “wide” datasets identified in the Week 5 Discussion items. (You may use your own dataset; please don’t use my Sample Post dataset, since that was used in your Project 1 assignment!) For each of the three chosen datasets:
• Create a .CSV file (or optionally, a MySQL database!) that includes all of the information included in the dataset. You’re encouraged to use a “wide” structure similar to how the information appears in the discussion item, so that you can practice tidying and transformations as described below.
• Read the information from your .CSV file into Python, and use pandas as needed to tidy and transform your data. [Most of your grade will be based on this step!]
• Perform the analysis requested in the discussion item.
• Your code should be in an Jupyter Notebook, posted to your GitHub repository, and should include narrative descriptions of your data cleanup work, analysis, and conclusions.*

In [1]:
#first we need to import pandas and numpy
import pandas as pd
import numpy as np

## New York City causes of death data

**Leading Causes of Death in New York City**

• What were the top 5 causes of death among Hispanics in 2007?

• What were the top 5 causes of death among Black Non-Hispanics in 2007?

• What were the top 5 causes of death among White-Non-Hispanics in 2007?

• What were the top 5 causes of death for Asian and Pacific Islanders in 2007?

*The CSV file can be found at the following link: https://github.com/lwaldron/IntroBiostat/blob/master/data/New_York_City_Leading_Causes_of_Death.csv *

In [17]:
#the code below reads the csv file
deathdata = pd.read_csv('https://raw.githubusercontent.com/lwaldron/IntroBiostat/master/data/New_York_City_Leading_Causes_of_Death.csv')

In [19]:
#The following code will return a table with all the results in the csv file
deathdata

,Year,Ethnicity,Sex,Cause of Death,Count,Percent
0,2010,NON-HISPANIC BLACK,MALE,HUMAN IMMUNODEFICIENCY VIRUS DISEASE,297,5
1,2010,NON-HISPANIC BLACK,MALE,INFLUENZA AND PNEUMONIA,201,3
2,2010,NON-HISPANIC BLACK,MALE,INTENTIONAL SELF-HARM (SUICIDE),64,1
3,2010,NON-HISPANIC BLACK,MALE,MALIGNANT NEOPLASMS,1540,23
4,2010,NON-HISPANIC BLACK,MALE,MENTAL DISORDERS DUE TO USE OF ALCOHOL,50,1
5,2010,NON-HISPANIC BLACK,MALE,"NEPHRITIS, NEPHROTIC SYNDROME AND NEPHROSIS",70,1
6,2010,NON-HISPANIC BLACK,MALE,PEPTIC ULCER,13,0
7,2010,NON-HISPANIC BLACK,MALE,PSYCH. SUBSTANCE USE & ACCIDENTAL DRUG POISONING,111,2
8,2010,NON-HISPANIC BLACK,MALE,SEPTICEMIA,36,1
9,2010,NON-HISPANIC BLACK,MALE,SHORT GESTATION/LBW,35,1
10,2010,NON-HISPANIC BLACK,MALE,VIRAL HEPATITIS,49,1
11,2010,NON-HISPANIC WHITE,FEMALE,ACCIDENTS EXCEPT DRUG POISONING,164,1
12,2010,NON-HISPANIC WHITE,FEMALE,ALZHEIMERS DISEASE,247,2
13,2010,NON-HISPANIC WHITE,FEMALE,AORTIC ANEURYSM AND DISSECTION,22,0
14,2010,NON-HISPANIC WHITE,FEMALE,ATHEROSCLEROSIS,74,1
15,2010,NON-HISPANIC WHITE,FEMALE,BENIGN AND UNCERTAIN NEOPLASMS,69,1
16,2010,NON-HISPANIC WHITE,FEMALE,CEREBROVASCULAR DISEASE,382,3
17,2010,NON-HISPANIC WHITE,FEMALE,CHOLELITHIASIS AND DISORDERS OF GALLBLADDER,19,0
18,2010,NON-HISPANIC WHITE,FEMALE,CHRONIC LIVER DISEASE AND CIRRHOSIS,67,0
19,2010,NON-HISPANIC WHITE,FEMALE,CHRONIC LOWER RESPIRATORY DISEASES,502,4
20,2010,NON-HISPANIC WHITE,FEMALE,"CONGENITAL MALFORMATIONS,DEFORMATIONS",32,0
21,2010,NON-HISPANIC WHITE,FEMALE,DIABETES MELLITUS,258,2
22,2010,NON-HISPANIC WHITE,FEMALE,DISEASES OF HEART,5351,40
23,2010,NON-HISPANIC WHITE,FEMALE,ESSENTIAL HYPERTENSION AND RENAL DISEASES,219,2
24,2010,NON-HISPANIC WHITE,FEMALE,HUMAN IMMUNODEFICIENCY VIRUS DISEASE,24,0
25,2010,NON-HISPANIC WHITE,FEMALE,INFLUENZA AND PNEUMONIA,707,5
26,2010,NON-HISPANIC WHITE,FEMALE,INTENTIONAL SELF-HARM (SUICIDE),61,0
27,2010,NON-HISPANIC WHITE,FEMALE,MALIGNANT NEOPLASMS,3438,25
28,2010,NON-HISPANIC WHITE,FEMALE,MENTAL DISORDERS DUE TO USE OF ALCOHOL,16,0
29,2010,NON-HISPANIC WHITE,FEMALE,"NEPHRITIS, NEPHROTIC SYNDROME AND NEPHROSIS",90,1
...,...,...,...,...,...,...
1890,2010,NON-HISPANIC BLACK,FEMALE,"CONGENITAL MALFORMATIONS,DEFORMATIONS",33,0
1891,2010,NON-HISPANIC BLACK,FEMALE,DIABETES MELLITUS,384,5
1892,2010,NON-HISPANIC BLACK,FEMALE,DISEASES OF HEART,2282,32
1893,2010,NON-HISPANIC BLACK,FEMALE,ESSENTIAL HYPERTENSION AND RENAL DISEASES,252,4
1894,2010,NON-HISPANIC BLACK,FEMALE,HUMAN IMMUNODEFICIENCY VIRUS DISEASE,152,2
1895,2010,NON-HISPANIC BLACK,FEMALE,INFLUENZA AND PNEUMONIA,275,4
1896,2010,NON-HISPANIC BLACK,FEMALE,INTENTIONAL SELF-HARM (SUICIDE),19,0
1897,2010,NON-HISPANIC BLACK,FEMALE,MALIGNANT NEOPLASMS,1768,25
1898,2010,NON-HISPANIC BLACK,FEMALE,"NEPHRITIS, NEPHROTIC SYNDROME AND NEPHROSIS",86,1
1899,2010,NON-HISPANIC BLACK,FEMALE,PEPTIC ULCER,15,0
1900,2010,NON-HISPANIC BLACK,FEMALE,"PREGNANCY, CHILDBIRTH AND THE PUERPERIUM",18,0
1901,2010,NON-HISPANIC BLACK,FEMALE,PSYCH. SUBSTANCE USE & ACCIDENTAL DRUG POISONING,63,1
1902,2010,NON-HISPANIC BLACK,FEMALE,SEPTICEMIA,55,1
1903,2010,NON-HISPANIC BLACK,FEMALE,SHORT GESTATION/LBW,29,0
1904,2010,NON-HISPANIC BLACK,FEMALE,VIRAL HEPATITIS,33,0
1905,2010,NON-HISPANIC BLACK,MALE,ACCIDENTS EXCEPT DRUG POISONING,147,2
1906,2010,NON-HISPANIC BLACK,MALE,ALZHEIMERS DISEASE,20,0
1907,2010,NON-HISPANIC BLACK,MALE,ANEMIAS,20,0
1908,2010,NON-HISPANIC BLACK,MALE,AORTIC ANEURYSM AND DISSECTION,25,0
1909,2010,NON-HISPANIC BLACK,MALE,ASSAULT (HOMICIDE),301,5
1910,2010,NON-HISPANIC BLACK,MALE,ATHEROSCLEROSIS,20,0
1911,2010,NON-HISPANIC BLACK,MALE,BENIGN AND UNCERTAIN NEOPLASMS,19,0
1912,2010,NON-HISPANIC BLACK,MALE,CARDIOVASCULAR DISORDERS IN PERINATAL PERIOD,15,0
1913,2010,NON-HISPANIC BLACK,MALE,CEREBROVASCULAR DISEASE,171,3
1914,2010,NON-HISPANIC BLACK,MALE,CHRONIC LIVER DISEASE AND CIRRHOSIS,68,1
1915,2010,NON-HISPANIC BLACK,MALE,CHRONIC LOWER RESPIRATORY DISEASES,202,3
1916,2010,NON-HISPANIC BLACK,MALE,"CONGENITAL MALFORMATIONS,DEFORMATIONS",34,1
1917,2010,NON-HISPANIC BLACK,MALE,DIABETES MELLITUS,279,4
1918,2010,NON-HISPANIC BLACK,MALE,DISEASES OF HEART,2015,31
1919,2010,NON-HISPANIC BLACK,MALE,ESSENTIAL HYPERTENSION AND RENAL DISEASES,178,3

In [20]:
#The code below can be used to find the top cause of death for Hispanics in 2007:
deathdata[(deathdata['Year']==2007) & (deathdata['Ethnicity']=='HISPANIC')].sort_values('Count', ascending=False).head()

      Year Ethnicity     Sex       Cause of Death  Count  Percent
1269  2007  HISPANIC  FEMALE    DISEASES OF HEART   1418       34
309   2007  HISPANIC  FEMALE    DISEASES OF HEART   1418       34
333   2007  HISPANIC    MALE    DISEASES OF HEART   1327       29
1293  2007  HISPANIC    MALE    DISEASES OF HEART   1327       29
338   2007  HISPANIC    MALE  MALIGNANT NEOPLASMS   1013       22

In [21]:
#The code below can be used to find the top cause of death for NON-HISPANIC BLACK people in 2007:
deathdata[(deathdata['Year']==2007) & (deathdata['Ethnicity']=='NON-HISPANIC BLACK')].sort_values('Count', ascending=False).head()

      Year           Ethnicity     Sex       Cause of Death  Count  Percent
1320  2007  NON-HISPANIC BLACK  FEMALE    DISEASES OF HEART   2722       36
360   2007  NON-HISPANIC BLACK  FEMALE    DISEASES OF HEART   2722       36
385   2007  NON-HISPANIC BLACK    MALE    DISEASES OF HEART   2121       32
1345  2007  NON-HISPANIC BLACK    MALE    DISEASES OF HEART   2121       32
365   2007  NON-HISPANIC BLACK  FEMALE  MALIGNANT NEOPLASMS   1800       24

In [22]:
#The code below can be used to find the top cause of death for NON-HISPANIC White people in 2007:
deathdata[(deathdata['Year']==2007) & (deathdata['Ethnicity']=='NON-HISPANIC WHITE')].sort_values('Count', ascending=False).head()

      Year           Ethnicity     Sex       Cause of Death  Count  Percent
1371  2007  NON-HISPANIC WHITE  FEMALE    DISEASES OF HEART   7050       49
411   2007  NON-HISPANIC WHITE  FEMALE    DISEASES OF HEART   7050       49
436   2007  NON-HISPANIC WHITE    MALE    DISEASES OF HEART   5632       43
1396  2007  NON-HISPANIC WHITE    MALE    DISEASES OF HEART   5632       43
1376  2007  NON-HISPANIC WHITE  FEMALE  MALIGNANT NEOPLASMS   3519       24

In [23]:
#The code below can be used to find the top cause of death for ASIAN & PACIFIC ISLANDERS in 2007:
deathdata[(deathdata['Year']==2007) & (deathdata['Ethnicity']=='ASIAN & PACIFIC ISLANDER')].sort_values('Count', ascending=False).head()

,Year,Ethnicity,Sex,Cause of Death,Count,Percent
289,2007,ASIAN & PACIFIC ISLANDER,MALE,MALIGNANT NEOPLASMS,528,33
1249,2007,ASIAN & PACIFIC ISLANDER,MALE,MALIGNANT NEOPLASMS,528,33
1245,2007,ASIAN & PACIFIC ISLANDER,MALE,DISEASES OF HEART,497,31
285,2007,ASIAN & PACIFIC ISLANDER,MALE,DISEASES OF HEART,497,31
1227,2007,ASIAN & PACIFIC ISLANDER,FEMALE,DISEASES OF HEART,428,33

## 911 Calls data

• What were the top 5 zip codes that received 911 calls and the number of calls?

• What were the top 5 townships that received 911 calls and the number of calls?

• What were the top 5 reasons for a 911 call and the number of calls?

• How many unique title codes are there?

*The CSV file can be found at the following link: https://raw.githubusercontent.com/shoaibb/911-Calls-Data-Analysis/master/911.csv *

In [24]:
#the code below reads the csv file
calldata = pd.read_csv('https://raw.githubusercontent.com/shoaibb/911-Calls-Data-Analysis/master/911.csv')

In [25]:
#The following code will return a table with all the results in the csv file
calldata

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1
5,40.253473,-75.283245,CANNON AVE & W 9TH ST; LANSDALE; Station 345;...,19446.0,EMS: HEAD INJURY,2015-12-10 17:40:01,LANSDALE,CANNON AVE & W 9TH ST,1
6,40.182111,-75.127795,LAUREL AVE & OAKDALE AVE; HORSHAM; Station 35...,19044.0,EMS: NAUSEA/VOMITING,2015-12-10 17:40:01,HORSHAM,LAUREL AVE & OAKDALE AVE,1
7,40.217286,-75.405182,COLLEGEVILLE RD & LYWISKI RD; SKIPPACK; Stati...,19426.0,EMS: RESPIRATORY EMERGENCY,2015-12-10 17:40:01,SKIPPACK,COLLEGEVILLE RD & LYWISKI RD,1
8,40.289027,-75.399590,MAIN ST & OLD SUMNEYTOWN PIKE; LOWER SALFORD;...,19438.0,EMS: SYNCOPAL EPISODE,2015-12-10 17:40:01,LOWER SALFORD,MAIN ST & OLD SUMNEYTOWN PIKE,1
9,40.102398,-75.291458,BLUEROUTE & RAMP I476 NB TO CHEMICAL RD; PLYM...,19462.0,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:40:01,PLYMOUTH,BLUEROUTE & RAMP I476 NB TO CHEMICAL RD,1
10,40.231990,-75.251891,RT202 PKWY & KNAPP RD; MONTGOMERY; 2015-12-10 ...,NaN,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:40:01,MONTGOMERY,RT202 PKWY & KNAPP RD,1
11,40.084161,-75.308386,BROOK RD & COLWELL LN; PLYMOUTH; 2015-12-10 @ ...,19428.0,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:40:02,PLYMOUTH,BROOK RD & COLWELL LN,1
12,40.174131,-75.098491,BYBERRY AVE & S WARMINSTER RD; UPPER MORELAND;...,19040.0,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:40:02,UPPER MORELAND,BYBERRY AVE & S WARMINSTER RD,1
13,40.062974,-75.135914,OLD YORK RD & VALLEY RD; CHELTENHAM; 2015-12-1...,19027.0,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:40:02,CHELTENHAM,OLD YORK RD & VALLEY RD,1
14,40.097222,-75.376195,SCHUYLKILL EXPY & CROTON RD UNDERPASS; UPPER M...,NaN,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:40:02,UPPER MERION,SCHUYLKILL EXPY & CROTON RD UNDERPASS,1
15,40.223778,-75.235399,STUMP RD & WITCHWOOD DR; MONTGOMERY; 2015-12-1...,18936.0,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:40:02,MONTGOMERY,STUMP RD & WITCHWOOD DR,1
16,40.243258,-75.286552,SUSQUEHANNA AVE & W MAIN ST; LANSDALE; Statio...,19446.0,EMS: RESPIRATORY EMERGENCY,2015-12-10 17:46:01,LANSDALE,SUSQUEHANNA AVE & W MAIN ST,1
17,40.312181,-75.574260,CHARLOTTE ST & MILES RD; NEW HANOVER; Station...,19525.0,EMS: DIZZINESS,2015-12-10 17:47:01,NEW HANOVER,CHARLOTTE ST & MILES RD,1
18,40.114239,-75.338508,PENN ST & ARCH ST; NORRISTOWN; Station 308A; ...,19401.0,EMS: VEHICLE ACCIDENT,2015-12-10 17:47:01,NORRISTOWN,PENN ST & ARCH ST,1
19,40.209337,-75.135266,COUNTY LINE RD & WILLOW DR; HORSHAM; 2015-12-1...,18974.0,Traffic: DISABLED VEHICLE -,2015-12-10 17:47:02,HORSHAM,COUNTY LINE RD & WILLOW DR,1
20,40.114239,-75.338508,PENN ST & ARCH ST; NORRISTOWN; 2015-12-10 @ 17...,19401.0,Traffic: VEHICLE ACCIDENT -,2015-12-10 17:47:02,NORRISTOWN,PENN ST & ARCH ST,1
21,40.117948,-75.209848,CHURCH RD & REDCOAT DR; WHITEMARSH; 2015-12-10...,19031.0,Traffic: DISABLED VEHICLE -,2015-12-10 17:57:02,WHITEMARSH,CHURCH RD & REDCOAT DR,1
22,40.199006,-75.300058,LILAC CT & PRIMROSE DR; UPPER GWYNEDD; 2015-12...,19446.0,Fire: APPLIANCE FIRE,2015-12-10 18:02:01,UPPER GWYNEDD,LILAC CT & PRIMROSE DR,1
23,40.143326,-75.422819,RT422 & PAWLINGS RD OVERPASS; LOWER PROVIDENC...,NaN,Traffic: DISABLED VEHICLE -,2015-12-10 18:02:02,LOWER PROVIDENCE,RT422 & PAWLINGS RD OVERPASS,1
24,40.153268,-75.189558,SUMMIT AVE & RT309 UNDERPASS; UPPER DUBLIN; 20...,NaN,Traffic: VEHICLE ACCIDENT -,2015-12-10 18:02:02,UPPER DUBLIN,SUMMIT AVE & RT309 UNDERPASS,1
25,40.133037,-75.408463,SHANNONDELL DR & SHANNONDELL BLVD; LOWER PROV...,19403.0,EMS: GENERAL WEAKNESS,2015-12-10 18:06:25,LOWER PROVIDENCE,SHANNONDELL DR & SHANNONDELL BLVD,1
26,40.155283,-75.264230,PENLLYN BLUE BELL PIKE & VILLAGE CIR; WHITPAI...,19422.0,EMS: HEAD INJURY,2015-12-10 18:06:25,WHITPAIN,PENLLYN BLUE BELL PIKE & VILLAGE CIR,1
27,40.028903,-75.351822,EDENTON PL & DURHAM DR; DELAWARE COUNTY; 2015-...,19085.0,Fire: CARBON MONOXIDE DETECTOR,2015-12-10 18:06:25,DELAWARE COUNTY,EDENTON PL & DURHAM DR,1
28,40.097222,-75.376195,SCHUYLKILL EXPY & WEADLEY RD OVERPASS; UPPER M...,NaN,Traffic: VEHICLE ACCIDENT -,2015-12-10 18:06:26,UPPER MERION,SCHUYLKILL EXPY & WEADLEY RD OVERPASS,1
29,40.209337,-75.135266,COUNTY LINE RD & WILLOW DR; HORSHAM; 2015-12-1...,18974.0,Traffic: DISABLED VEHICLE -,2015-12-10 18:11:01,HORSHAM,COUNTY LINE RD & WILLOW DR,1
...,...,...,...,...,...,...,...,...,...
99462,40.274137,-75.660469,UPLAND SQUARE DR & SELL RD; WEST POTTSGROVE; ...,19464.0,EMS: UNKNOWN MEDICAL EMERGENCY,2016-08-24 09:41:00,WEST POTTSGROVE,UPLAND SQUARE DR & SELL RD,1
99463,40.254768,-75.660459,SHOEMAKER RD & ROBINSON ST; POTTSTOWN; Statio...,19464.0,EMS: UNKNOWN MEDICAL EMERGENCY,2016-08-24 09:42:00,POTTSTOWN,SHOEMAKER RD & ROBINSON ST,1
99464,40.163730,-75.082753,KAREN LN & BYBERRY RD; UPPER MORELAND; Statio...,19040.0,EMS: FALL VICTIM,2016-08-24 09:51:06,UPPER MORELAND,KAREN LN & BYBERRY RD,1
99465,40.114928,-75.340307,AIRY ST & GREEN ST; NORRISTOWN; Station 308A;...,19401.0,EMS: RESPIRATORY EMERGENCY,2016-08-24 09:56:13,NORRISTOWN,AIRY ST & GREEN ST,1
99466,40.159820,-75.288436,WENTZ RD & SILO CIR; WHITPAIN; Station 385; 2...,19422.0,EMS: NAUSEA/VOMITING,2016-08-24 10:01:00,WHITPAIN,WENTZ RD & SILO CIR,1
99467,40.255271,-75.340722,WOODS DR & DETWILER RD; TOWAMENCIN; Station 3...,19446.0,EMS: ALTERED MENTAL STATUS,2016-08-24 10:12:01,TOWAMENCIN,WOODS DR & DETWILER RD,1
99468,40.088355,-75.382100,DEKALB PIKE & ALLENDALE RD; UPPER MERION; 2016...,19406.0,Fire: FIRE ALARM,2016-08-24 10:12:01,UPPER MERION,DEKALB PIKE & ALLENDALE RD,1
99469,40.123868,-75.341678,MARKLEY ST & JAMES ST; NORRISTOWN; 2016-08-24 ...,19401.0,Fire: FIRE ALARM,2016-08-24 10:12:01,NORRISTOWN,MARKLEY ST & JAMES ST,1
99470,40.185798,-75.536484,WALNUT ST & S 5TH AVE; ROYERSFORD; Station 32...,19468.0,EMS: ALTERED MENTAL STATUS,2016-08-24 10:17:01,ROYERSFORD,WALNUT ST & S 5TH AVE,1
99471,40.000763,-75.279769,WYNNEWOOD RD & W OLD WYNNEWOOD RD; LOWER MERI...,19096.0,EMS: RESPIRATORY EMERGENCY,2016-08-24 10:17:01,LOWER MERION,WYNNEWOOD RD & W OLD WYNNEWOOD RD,1
99472,40.129398,-75.332213,PINE ST & W ROBERTS ST; NORRISTOWN; Station 3...,19401.0,EMS: CARDIAC EMERGENCY,2016-08-24 10:22:00,NORRISTOWN,PINE ST & W ROBERTS ST,1
99473,40.133533,-75.056460,BUCK RD & WAVERLY LN; BRYN ATHYN; Station 355...,19009.0,EMS: GENERAL WEAKNESS,2016-08-24 10:27:01,BRYN ATHYN,BUCK RD & WAVERLY LN,1
99474,40.078678,-75.086943,HUNTINGDON PIKE & FILLMORE ST; ROCKLEDGE; Sta...,19046.0,EMS: SEIZURES,2016-08-24 10:27:01,ROCKLEDGE,HUNTINGDON PIKE & FILLMORE ST,1
99475,40.133715,-75.229630,SHEAFF LN & WHITEMARSH VALLEY RD; WHITEMARSH; ...,19034.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 10:32:01,WHITEMARSH,SHEAFF LN & WHITEMARSH VALLEY RD,1
99476,40.257820,-75.624294,PARK DR & N ADAMS ST; POTTSTOWN; Station 329;...,19464.0,EMS: RESPIRATORY EMERGENCY,2016-08-24 10:47:00,POTTSTOWN,PARK DR & N ADAMS ST,1
99477,40.095652,-75.244877,FOX HOUND DR & MARBLE HL; WHITEMARSH; Station...,19444.0,EMS: SUBJECT IN PAIN,2016-08-24 10:47:00,WHITEMARSH,FOX HOUND DR & MARBLE HL,1
99478,40.100344,-75.293955,CHEMICAL RD & GALLAGHER RD; PLYMOUTH; 2016-08-...,19462.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 10:47:02,PLYMOUTH,CHEMICAL RD & GALLAGHER RD,1
99479,40.221227,-75.288737,SUMNEYTOWN PIKE & RR OVERPASS; UPPER GWYNEDD;...,NaN,EMS: CARDIAC EMERGENCY,2016-08-24 10:52:01,UPPER GWYNEDD,SUMNEYTOWN PIKE & RR OVERPASS,1
99480,40.221227,-75.288737,SUMNEYTOWN PIKE & RR OVERPASS; UPPER GWYNEDD;...,NaN,EMS: DIABETIC EMERGENCY,2016-08-24 10:52:01,UPPER GWYNEDD,SUMNEYTOWN PIKE & RR OVERPASS,1
99481,40.221227,-75.288737,SUMNEYTOWN PIKE & RR OVERPASS; UPPER GWYNEDD;...,NaN,EMS: DIZZINESS,2016-08-24 10:52:01,UPPER GWYNEDD,SUMNEYTOWN PIKE & RR OVERPASS,1
99482,40.340072,-75.591709,RT100 SB & E PHILADELPHIA AVE OVERPASS; DOUGLA...,NaN,Traffic: DISABLED VEHICLE -,2016-08-24 10:52:03,DOUGLASS,RT100 SB & E PHILADELPHIA AVE OVERPASS,1
99483,40.084465,-75.390173,DEKALB PIKE & KING OF PRUSSIA RD; UPPER MERIO...,19406.0,EMS: BACK PAINS/INJURY,2016-08-24 10:57:00,UPPER MERION,DEKALB PIKE & KING OF PRUSSIA RD,1
99484,40.133037,-75.408463,SHANNONDELL DR & SHANNONDELL BLVD; LOWER PROVI...,19403.0,Fire: FIRE ALARM,2016-08-24 10:57:00,LOWER PROVIDENCE,SHANNONDELL DR & SHANNONDELL BLVD,1
99485,40.143601,-75.427877,EAGLEVILLE RD & REDTAIL RD; LOWER PROVIDENCE; ...,19403.0,Traffic: DISABLED VEHICLE -,2016-08-24 10:57:01,LOWER PROVIDENCE,EAGLEVILLE RD & REDTAIL RD,1
99486,40.179225,-75.180572,WELSH RD & NORRISTOWN RD; HORSHAM; 2016-08-24 ...,19044.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:02:02,HORSHAM,WELSH RD & NORRISTOWN RD,1
99487,40.132869,-75.333515,MARKLEY ST & W LOGAN ST; NORRISTOWN; 2016-08-2...,19401.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:06:00,NORRISTOWN,MARKLEY ST & W LOGAN ST,1
99488,40.006974,-75.289080,LANCASTER AVE & RITTENHOUSE PL; LOWER MERION; ...,19003.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:07:02,LOWER MERION,LANCASTER AVE & RITTENHOUSE PL,1
99489,40.115429,-75.334679,CHESTNUT ST & WALNUT ST; NORRISTOWN; Station ...,19401.0,EMS: FALL VICTIM,2016-08-24 11:12:00,NORRISTOWN,CHESTNUT ST & WALNUT ST,1
99490,40.186431,-75.192555,WELSH RD & WEBSTER LN; HORSHAM; Station 352; ...,19002.0,EMS: NAUSEA/VOMITING,2016-08-24 11:17:01,HORSHAM,WELSH RD & WEBSTER LN,1
99491,40.207055,-75.317952,MORRIS RD & S BROAD ST; UPPER GWYNEDD; 2016-08...,19446.0,Traffic: VEHICLE ACCIDENT -,2016-08-24 11:17:02,UPPER GWYNEDD,MORRIS RD & S BROAD ST,1

In [29]:
#The code below can be used to find the top zip codes for 911 call:
calldata['zip'].value_counts().head()

19401.0    6979
19464.0    6643
19403.0    4854
19446.0    4748
19406.0    3174
Name: zip, dtype: int64

In [30]:
#The code below can be used to find the top townships that received 911 call:
calldata['twp'].value_counts().head()

LOWER MERION    8443
ABINGTON        5977
NORRISTOWN      5890
UPPER MERION    5227
CHELTENHAM      4575
Name: twp, dtype: int64

In [34]:
#The code below can be used to find the top reasons for a 911 call:
calldata['title'].value_counts().head()

Traffic: VEHICLE ACCIDENT -    23066
Traffic: DISABLED VEHICLE -     7702
Fire: FIRE ALARM                5496
EMS: RESPIRATORY EMERGENCY      5112
EMS: CARDIAC EMERGENCY          5012
Name: title, dtype: int64

In [35]:
calldata['title'].nunique()

110

## California cities data

• Which city has the highest and lowest elevation? 

• Which city has the highest and lowest population? 

• Which city has the greatest total area?

*The CSV file can be found at the following link: 
https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/california_cities.csv *

In [36]:
#the code below reads the csv file
citydata = pd.read_csv('https://raw.githubusercontent.com/jakevdp/PythonDataScienceHandbook/master/notebooks/data/california_cities.csv')

In [37]:
#The following code will return a table with all the results in the csv file
citydata

,Unnamed: 0,city,latd,longd,elevation_m,elevation_ft,population_total,area_total_sq_mi,area_land_sq_mi,area_water_sq_mi,area_total_km2,area_land_km2,area_water_km2,area_water_percent
0,0,Adelanto,34.576111,-117.432778,875.0,2871.0,31765,56.027,56.009,0.018,145.107,145.062,0.046,0.03
1,1,AgouraHills,34.153333,-118.761667,281.0,922.0,20330,7.822,7.793,0.029,20.260,20.184,0.076,0.37
2,2,Alameda,37.756111,-122.274444,NaN,33.0,75467,22.960,10.611,12.349,59.465,27.482,31.983,53.79
3,3,Albany,37.886944,-122.297778,NaN,43.0,18969,5.465,1.788,3.677,14.155,4.632,9.524,67.28
4,4,Alhambra,34.081944,-118.135000,150.0,492.0,83089,7.632,7.631,0.001,19.766,19.763,0.003,0.01
5,5,AlisoViejo,33.575000,-117.725556,127.0,417.0,47823,7.472,7.472,0.000,19.352,19.352,0.000,0.00
6,6,Alturas,41.487222,-120.542500,1332.0,4370.0,2827,2.449,2.435,0.014,6.342,6.306,0.036,0.57
7,7,AmadorCity,38.419444,-120.824167,280.0,919.0,185,0.314,0.314,0.000,0.813,0.813,0.000,0.00
8,8,AmericanCanyon,38.168056,-122.252500,14.0,46.0,19454,4.845,4.837,0.008,12.548,12.527,0.021,0.17
9,9,Anaheim,33.836111,-117.889722,48.0,157.0,336000,50.811,49.835,0.976,131.600,129.073,2.527,1.92
10,10,Anderson,40.452222,-122.296667,132.0,430.0,9932,6.620,6.372,0.248,17.145,16.504,0.642,3.74
11,11,AngelsCamp,38.068333,-120.539722,420.0,1378.0,3836,3.637,3.628,0.009,9.421,9.397,0.024,0.25
12,12,Antioch,38.005000,-121.805833,13.0,43.0,107100,29.083,28.349,0.734,75.324,73.422,1.902,2.52
13,13,AppleValley,34.516667,-117.216667,898.0,2946.0,69135,73.523,73.193,0.330,190.426,189.570,0.856,0.45
14,14,Arcadia,34.132778,-118.036389,147.0,482.0,56364,11.133,10.925,0.208,28.836,28.296,0.540,1.87
15,15,Arcata,40.866389,-124.082778,NaN,23.0,17231,10.994,9.097,1.897,28.473,23.561,4.912,17.25
16,16,ArroyoGrande,35.120833,-120.586667,36.0,118.0,17716,5.835,5.835,0.000,15.113,15.113,0.000,0.00
17,17,Artesia,33.867222,-118.080556,16.0,52.0,16522,1.621,1.621,0.000,4.197,4.197,0.000,0.00
18,18,Arvin,35.209167,-118.828333,137.0,449.0,19304,4.819,4.819,0.000,12.482,12.482,0.000,0.00
19,19,Atascadero,35.484167,-120.672500,268.0,879.0,28310,26.130,25.641,0.489,67.675,66.409,1.265,1.87
20,20,Atherton,37.458611,-122.200000,18.0,59.0,6914,5.049,5.017,0.032,13.076,12.993,0.082,0.63
21,21,Atwater,37.347778,-120.609167,46.0,151.0,28168,6.096,6.087,0.009,15.788,15.766,0.022,0.14
22,22,Auburn,38.898611,-121.074444,374.0,1227.0,13330,7.166,7.138,0.028,18.560,18.488,0.071,0.38
23,23,Avalon,33.340833,-118.327778,9.0,30.0,3728,2.937,2.935,0.002,7.607,7.602,0.005,0.07
24,24,Avenal,36.004167,-120.128889,246.0,807.0,13239,19.422,19.422,0.000,50.302,50.302,0.000,0.00
25,25,Azusa,34.130556,-117.906944,186.0,610.0,46361,9.669,9.656,0.013,25.042,25.010,0.032,0.13
26,26,Bakersfield,35.366667,-119.016667,NaN,404.0,347483,143.609,142.164,1.445,371.946,368.204,3.742,1.01
27,27,BaldwinPark,34.082778,-117.971667,114.0,374.0,75390,6.786,6.631,0.155,17.575,17.174,0.400,2.28
28,28,Banning,33.931667,-116.897500,716.0,2349.0,29603,23.099,23.099,0.000,59.826,59.826,0.000,0.00
29,29,Barstow,34.900000,-117.016667,664.0,2178.0,22639,41.394,41.385,0.009,107.209,107.186,0.023,0.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,452,Vista,33.193611,-117.241111,99.0,325.0,93834,18.678,18.678,0.000,48.377,48.377,0.000,0.00
453,453,Walnut,34.033333,-117.866667,171.0,561.0,29172,8.996,8.992,0.004,23.300,23.290,0.010,0.04
454,454,WalnutCreek,37.906389,-122.065000,NaN,131.0,64173,19.769,19.757,0.012,51.201,51.169,0.031,0.06
455,455,Wasco,35.594167,-119.340833,100.0,328.0,25545,9.426,9.426,0.000,24.413,24.413,0.000,0.00
456,456,Waterford,37.645000,-120.767500,52.0,171.0,8456,2.369,2.328,0.041,6.135,6.030,0.105,1.72
457,457,Watsonville,36.920000,-121.763611,9.0,29.0,51199,6.783,6.687,0.096,17.569,17.319,0.250,1.42
458,458,Weed,41.424167,-122.384444,1044.0,3425.0,2967,4.795,4.790,0.005,12.417,12.405,0.012,0.10
459,459,WestCovina,34.056667,-117.918611,110.0,362.0,106098,16.090,16.041,0.049,41.671,41.545,0.126,0.30
460,460,WestHollywood,34.087778,-118.372222,86.0,282.0,34650,1.887,1.887,0.000,4.888,4.888,0.000,0.00
461,461,WestlakeVillage,34.141944,-118.819444,268.0,880.0,8270,5.509,5.185,0.320,14.257,13.430,0.828,5.80
462,462,Westminster,33.751389,-117.993889,12.0,39.0,89701,10.049,10.049,0.000,26.027,26.027,0.000,0.00
463,463,Westmorland,33.037222,-115.621389,NaN,-164.0,2225,0.590,0.590,0.000,1.529,1.529,0.000,0.00
464,464,WestSacramento,38.580556,-121.530278,6.0,20.0,48744,22.846,21.425,1.421,59.172,55.491,3.681,6.22
465,465,Wheatland,39.010000,-121.423056,28.0,92.0,3456,1.486,1.479,0.007,3.848,3.831,0.017,0.45
466,466,Whittier,33.965556,-118.024444,112.0,367.0,85331,14.700,14.700,0.016,37.000,37.000,0.041,0.11
467,467,Wildomar,33.603611,-117.272778,387.0,1270.0,32176,23.688,23.688,0.000,61.351,61.351,0.000,0.00
468,468,Williams,39.154722,-122.149444,25.0,82.0,5123,5.444,5.444,0.000,14.101,14.101,0.000,0.00
469,469,Willits,39.409722,-123.355556,424.0,1391.0,4888,2.803,2.798,0.005,7.260,7.248,0.013,0.17
470,470,Willows,39.524444,-122.193611,42.0,138.0,6166,2.873,2.847,0.026,7.441,7.373,0.068,0.92
471,471,Windsor,38.546111,-122.805278,36.0,118.0,26801,7.293,7.268,0.025,18.888,18.824,0.064,0.34
472,472,Winters,38.525000,-121.970833,40.0,131.0,6624,2.937,2.912,0.025,7.607,7.543,0.065,0.85
473,473,Woodlake,36.416389,-119.099444,134.0,440.0,7279,2.765,2.248,0.517,7.159,5.821,1.338,18.69
474,474,Woodland,38.678611,-121.773333,21.0,69.0,55468,15.303,15.303,0.000,39.634,39.634,0.000,0.00
475,475,Woodside,37.420833,-122.259722,117.0,384.0,5287,11.732,11.732,0.000,30.386,30.386,0.000,0.00
476,476,YorbaLinda,33.888551,-117.813231,82.3,270.0,65237,20.018,19.483,0.535,51.847,50.460,1.387,2.67
477,477,Yountville,38.403056,-122.362222,30.0,98.0,2933,1.531,1.531,0.000,3.966,3.966,0.000,0.00
478,478,Yreka,41.726667,-122.637500,787.0,2582.0,7765,10.053,9.980,0.073,26.036,25.847,0.188,0.72
479,479,YubaCity,39.134722,-121.626111,18.0,59.0,64925,14.656,14.578,0.078,37.959,37.758,0.201,0.53
480,480,Yucaipa,34.030278,-117.048611,798.0,2618.0,51367,27.893,27.888,0.005,72.244,72.231,0.013,0.02
481,481,YuccaValley,34.133333,-116.416667,1027.0,3369.0,20700,40.015,40.015,0.000,103.639,103.639,0.000,0.00

In [39]:
#the code below displays the top 5 cities based on highest elevation
citydata[["city", "elevation_ft"]].sort_values(by=["elevation_ft"], ascending=False).head()

               city  elevation_ft
246    MammothLakes        7880.0
39      BigBearLake        6752.0
416  SouthLakeTahoe        6237.0
436         Truckee        5817.0
242        Loyalton        4951.0

In [40]:
#the code below displays the top 5 cities based on lowest elevation
citydata[["city", "elevation_ft"]].sort_values(by=["elevation_ft"], ascending=True).head()

            city  elevation_ft
57    Calipatria        -180.0
463  Westmorland        -164.0
45       Brawley        -112.0
81     Coachella         -66.0
187     Imperial         -59.0

In [41]:
#the code below displays the top 5 cities based on highest population
citydata[["city", "population_total"]].sort_values(by=["population_total"], ascending=False).head()

             city  population_total
239    LosAngeles           3884307
367      SanDiego           1345895
375       SanJose           1000536
370  SanFrancisco            837442
150        Fresno            509039

In [42]:
#the code below displays the top 5 cities based on lowest population
citydata[["city", "population_total"]].sort_values(by=["population_total"], ascending=True).head()

           city  population_total
327      Pomona                 1
448      Vernon               112
7    AmadorCity               185
190    Industry               219
366    SandCity               334

*The data above seems incorrect, according to Google the population for Pomona is actually 152,494 as of 2016*

In [44]:
#the code below will correct the table above
citydata.loc[(citydata.city== "Pomona"), "population_total"] = 152494

In [45]:
#the code below will display the updated top 5 cities based on lowest population
citydata[["city", "population_total"]].sort_values(by=["population_total"], ascending=True).head()

           city  population_total
448      Vernon               112
7    AmadorCity               185
190    Industry               219
366    SandCity               334
435    Trinidad               367

In [46]:
#the code below will display the top 5 cities based on greatest total area 
citydata[["city", "area_total_sq_mi"]].sort_values(by=["area_total_sq_mi"], ascending=False).head()

               city  area_total_sq_mi
239      LosAngeles           503.000
367        SanDiego           372.400
370    SanFrancisco           231.890
55   CaliforniaCity           203.631
375         SanJose           179.970